/*
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  background-color: hsl(185, 75%, 39%);
  background-image: url(/images/bg-pattern-top.svg), url(/images/bg-pattern-bottom.svg);
  background-repeat: no-repeat;
  background-position: right 50vw bottom 50vh, left 50vw top 50vh;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 1.8rem;
  color: hsl(229, 23%, 23%);
  font-weight: 400;
  line-height: 1;
}

main {
  max-width: 144rem;
  margin: 0 auto;
  min-height: 100vh;
}

/* ******************************** */
/* LAYOUT STYLES */
/* ******************************** */

.profile-card-bg-pattern {
  display: block;
  width: 100%;
  background-image: url(/images/bg-pattern-card.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.profile-card-img {
  display: block;
  width: 10rem;
  height: 10rem;
  margin-bottom: 0.8rem;
  border: 5px solid hsl(0, 0%, 100%);
  transform: scale(1.05) translateY(-50%);
  border-radius: 50%;
}

.profile-card {
  width: 42rem;
  margin: 1.6rem;
  border-radius: 15px;
  overflow: hidden;
}

.profile-card-content {
  background-color: hsl(0, 0%, 100%);
}

.user-personal-content {
  margin-top: -3.2rem;
  margin-bottom: 4.8rem;
}

.user-personal-details {
  margin-bottom: 1.6rem;
}

.user-points {
  margin-left: 0.8rem;
}

.user-location {
  display: block;
  text-align: center;
}

.user-social-content {
  padding: 3.2rem 6.4rem;
  border-top: 1px solid hsla(227, 10%, 46%, 0.2);
  align-self: stretch;
}

.user-social-number {
  margin-bottom: 0.8rem;
}

/* ******************************** */
/* TYPOGRAPHY STYLES */
/* ******************************** */

.user-name,
.user-points,
.user-social-number {
  font-size: 2rem;
}

.user-points,
.user-location {
  color: hsl(227, 10%, 46%);
}

.user-name,
.user-social-number {
  font-weight: 700;
}

.user-social-text {
  font-size: 1.2rem;
  letter-spacing: 1.1px;
  color: hsl(0, 0%, 59%);
}

/* ******************************** */
/* UTILITIES STYLES */
/* ******************************** */

/* Flexbox */
.flex {
  display: flex !important;
}

.flex-column {
  flex-direction: column !important;
}

.flex-jc-between {
  justify-content: space-between !important;
}

.flex-al-center {
  align-items: center !important;
}

.flex-center {
  justify-content: center !important;
  align-items: center !important;
}

/* ******************************** */
/* MEDIA QUERIES */
/* ******************************** */

/* breakpoint 460px */
@media all and (max-width: 28.75em) {
  html {
    font-size: 47.5%;
  }

  .user-social-content {
    padding: 3.2rem 4.2rem;
  }

  .user-name,
  .user-points,
  .user-social-number {
    font-size: 2.2rem;
  }

  .user-location {
    font-size: 2rem;
  }

  .user-social-text {
    font-size: 1.4rem;
  }
}
